@charset "utf-8";
/* CSS Document */
body, html {
  height: 100%;
  margin: 0;
}
/*--------------------------------Header-------------------------------*/
.Header {
	float: top;
	align: block;
	background-image: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0.14901999999999999) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0.14901999999999999) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -o-linear-gradient(-90deg, rgba(0, 0, 0, 0.14901999999999999) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.14901999999999999) 0%, rgba(0, 0, 0, 0) 100%);
	min-height: 60px;
	display: inherit;
}

.Header-Left {
	float: Left;
	font-family: Audrey;
	color: #313131;
	font-size: 55px;
	font-weight: 400;
	padding-left: 5px;
	position:fixed; 
}

.Nav-Bar {
	padding-top: 10px;
	float: right;
	width: 54%;
	text-align: right;
	
}

.Nav-Active {
	width: 15%;
	font-family: CenturyGothic;
	color: #ef8126;
	font-size: 20px;
	font-weight: 700;
	transform: matrix(1,0,-0.25,1.028,0,0);
	padding-right: 16px;
	padding-left: 16px;
	text-decoration: underline;
}

.Nav-Text {
	width: 15%;
	font-family: PerpetuaTitlingMT;
	color: #9b9b9b;
	font-size: 20px;
	font-weight: 700;
	transform: matrix(1,0,-0.25,1.028,0,0);
	padding-right: 16px;
	padding-left: 16px;
	
}

.Nav-Text:hover {
	width: 15%;
	font-family: PerpetuaTitlingMT;
	color: #6d6d6d;
	font-size: 20px;
	font-weight: 700;
	transform: matrix(1,0,-0.25,1.028,0,0);
	padding-right: 16px;
	padding-left: 16px;
	text-decoration: underline;
}

.Nav-Active:hover {
	width: 15%;
	font-family: PerpetuaTitlingMT;
	color: #6d6d6d;
	font-size: 20px;
	font-weight: 700;
	transform: matrix(1,0,-0.25,1.028,0,0);
	padding-right: 16px;
	padding-left: 16px;
	text-decoration: underline;
}


/*---------------------------------Body--------------------------------*/

      /*---------------------------Hero--------------------------*/

.Hero {
  background-image: url("Images/Hero/Insta Photo-81.JPG");
  height: 89%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
	
}

.Hero-Text {
	font-family: Impact;
	color: #ffffff;
	font-size: 200px;
	font-weight: 400;
	position: relative;
	float: left;
	top: 50%;
	left: 46%;
	transform: translateX(-50%) translateY(-50%);
}

.Hero-Logo {
	width: 150px;
	position: absolute;
	bottom:0;
    right:0;
	padding-bottom: 10px;
	padding-right: 30px;
}

/*---------------------------------Main--------------------------------*/
.Main {
	left: 50%;
	padding-top: 10px;
	width: 98%;
	text-align: center;
}
.Images img{
	width: 280px;
	height: 280px;
	padding: 10px;
	object-fit: cover;
}

.Social {
	text-align: center;
}

.Social-Img {
	width: 50px;
	height: 50px;
}
/*--------------------------------Footer-------------------------------*/

.Footer {
	background-color: #202020;
	height: 150px;
	width: 100%;
	align: inline-block;	
}

.Footer-Text {
	font-family: Arial;
	color: #ffffff;
	font-size: 30px;
	font-style: italic;
	position: relative;
	float: left;
	top: 25%;
	padding-left: 20px;
}

.Footer-Socials {
	float: right;
	position: relative;
	top: 40%;
	padding-right: 20px;
}


/*---------------------------------Table-------------------------------*/


@media (max-width:868px) and (min-width: 623px){
	

.Header {
	height: 150px;
}

.Header-Left {
	text-align: center;
	font-family: Audrey;
	color: #313131;
	font-size: 70px;
	font-weight: 400;
	width: 100%;
	position: static;
}
	
.Nav-Bar {
	text-align: center;
	padding-top: 10px;
	position: static;
	width: 100%;
	
}
	
.Hero {
  background-image: url("Images/Hero/Insta Photo-81.JPG");
  height: 70%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}

/*--------------------------------Mobile-------------------------------*/

@media screen and (max-width: 623px){

.Header {
	height: 12px;
}

.Header-Left {
	float: left;
	font-family: Audrey;
	color: #313131;
	font-size: 35px;
	font-weight: 400;
	width: 80%;
	position: fixed;
}
	
.Nav-Bar {
	text-align: center;
	padding-top: 10px;
	position: static;
	width: 100%;
	visibility: hidden;
	
}
.container {
  	cursor: pointer;
	
	
	float: right;
	visibility:visible;

}

.bar1, .bar2, .bar3 {
  	width: 35px;
  	height: 5px;
  	background-color: #333;
  	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
  	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
  	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  	-webkit-transform: rotate(45deg) translate(-8px, -8px);
  	transform: rotate(45deg) translate(-8px, -8px);
}

.Images img{
	width: 140px;
	height: 140px;
	padding: 10px;
	object-fit: cover;
}
}



